{
  "branches": ["main", "release"],
  "plugins": [ 
    ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
          {"type": "featbc", "release": "major"},
          {"type": "norelease", "release": false},
          {"type": "feat", "release": "minor"},
          {"type": "fix", "release": "minor"},
          {"type": "perf", "release": "minor"},
          {"type": "docs", "release": "patch"},
          {"type": "test", "release": "patch"},
          {"type": "refactor", "release": "patch"},
          {"type": "ci", "release": "patch"},
          {"type": "build", "release": "patch"}
          
        ],
        "parserOpts": {
            "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "Breaking change"]
          }
      }],
    ["@semantic-release/release-notes-generator" ,{
        "preset": "angular"
    }],
    "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ]
} 