{
  "branches": ["main"],
  "plugins": [ 
    ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
          {"type": "featbc", "release": "major"},
          {"type": "no-release", "release": false},
          {"type": "feat", "release": "minor"},
          {"type": "fix", "release": "minor"},
          {"type": "perf", "release": "minor"},
          {"type": "docs", "release": "patch"},
          {"type": "test", "release": "patch"},
          {"type": "refactor", "release": "patch"}
          
        ],
        "parserOpts": {
            "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "Breaking change"]
          }
      }],
        "@semantic-release/release-notes-generator" 
    ],
   "dryRun": false,
   "ci": true
} 